

<ion-tabs >
    <ion-tab-bar slot="bottom" >
    <ion-tab-button (click)="onTabChange('home')" [class.selected]="selectedTab === 'home'" tab="common-page" >
      <div  class="flow_view">
        <ion-icon class="icon_size" name="home-outline"></ion-icon>
        Home
      </div>
    </ion-tab-button>
    <ion-tab-button (click)="onTabChange('assets')" [class.selected]="selectedTab === 'assets'" tab="assets" >
      <div  class="flow_view">
        <ion-icon class="icon_size" name="shield-checkmark-outline" ></ion-icon>
      Equipments
    </div>
  </ion-tab-button>
    <ion-tab-button (click)="onTabChange('offers')" [class.selected]="selectedTab === 'offers'" tab="offers" >
      <div  class="flow_view">
        <ion-icon class="icon_size" name="people-outline" ></ion-icon>
      Recommendations
    </div>
  </ion-tab-button>
    <!-- <ion-tab-button (click)="onTabChange('cheques')" [class.selected]="selectedTab === 'cheques'" tab="common-page">
      <div  class="flow_view">
        <ion-icon class="icon_size" name="calculator-outline" ></ion-icon>
      Calc
    </div>
  </ion-tab-button> -->
  </ion-tab-bar>   
</ion-tabs>
