

<ion-tabs >
    <ion-tab-bar slot="bottom" >
    <ion-tab-button (click)="onTabChange('home')" [class.selected]="selectedTab === 'home'" tab="common-page" >
      <div  class="flow_view">
        <ion-icon class="icon_size" name="home-outline"></ion-icon>
        Home
      </div>
    </ion-tab-button>
    <ion-tab-button (click)="onTabChange('orders')" [class.selected]="selectedTab === 'orders'" tab="common-page" >
      <div  class="flow_view">
        <ion-icon class="icon_size" name="shield-checkmark-outline" ></ion-icon>
      Goals
    </div>
  </ion-tab-button>
    <ion-tab-button (click)="onTabChange('returns')" [class.selected]="selectedTab === 'returns'" tab="common-page" >
      <div  class="flow_view">
        <ion-icon class="icon_size" name="people-outline" ></ion-icon>
      Statistic
    </div>
  </ion-tab-button>
    <ion-tab-button (click)="onTabChange('cheques')" [class.selected]="selectedTab === 'cheques'" tab="common-page">
      <div  class="flow_view">
        <ion-icon class="icon_size" name="calculator-outline" ></ion-icon>
      Calc
    </div>
  </ion-tab-button>
  </ion-tab-bar>   
</ion-tabs>
