<ion-content class="ion-padding">
  <div class="recorder-container">

    <!-- For phone number -->
    <ion-item (click)="getPhoneNumber()">
      <ion-label position="floating">Phone Number</ion-label>
      <ion-input [(ngModel)]="phoneNumberInput" type="text"></ion-input>
    </ion-item>


    <!-- For Location -->
    <ion-card>
      <ion-card-header>
        <ion-card-title>Current Coordinates</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p><strong>Latitude:</strong> {{ latitude }}</p>
        <p><strong>Longitude:</strong> {{ longitude }}</p>
      </ion-card-content>
    </ion-card>

    <ion-button expand="full" (click)="getCurrentLocations()">Get Location</ion-button>


    <!-- For Recording -->
    <ion-card>
      <ion-card-content>
        <div class="status-indicator">
          <ion-icon [name]="isRecording ? 'mic' : 'mic-off'" [color]="isRecording ? 'danger' : 'medium'" size="large">
          </ion-icon>
          <p>{{ isRecording ? 'Recording in progress...' : 'Tap to start recording' }}</p>
        </div>
        <div class="controls">
          <ion-button expand="block" color="primary" (click)="toggleRecording()">
            <ion-icon slot="start" [name]="isRecording ? 'stop' : 'recording-outline'"></ion-icon>
            {{ isRecording ? 'Stop Recording' : 'Start Recording' }}
          </ion-button>
        </div>
      </ion-card-content>
    </ion-card>

    <!-- For play recording -->
    <div *ngIf="recordedFileObj" class="recording-info">
      <p>Recorded file path:</p>
      <div class="playback-controls">
        <ion-button expand="block" color="secondary" (click)="playRecording()">
          <ion-icon slot="start" name="play"></ion-icon>
          Play Recording
        </ion-button>
      </div>
    </div>
  </div>

</ion-content>