.io {
    width: 30px !important;
    height: 30px !important;
  }
  .logout-btn {
    border: #FFCD11;
    border-radius: #FFCD11 2px solid;
    padding: 0.5rem;
    border: 2px solid #FFCD11;
    border-radius: 6px;
    width: max-content;
    line-height: 1;
    height: 37px !important;
    background: #FFCD11;
    color: white;
    flex: 0 0 50%;
  }
  .ee {
    border: #FFCD11;
    border-radius: #FFCD11 2px solid;
    padding: 0.5rem;
    border: 2px solid #FFCD11;
    border-radius: 6px;
    width: max-content;
    line-height: 1;
    height: 37px !important;
    color: #FFCD11;
    flex: 0 0 50%;
  }
  .see {
    height: 20%;
    display: flex;
    justify-content: center;
    position: relative;
    top: 15px;
    column-gap: 10px;
  }
  .de {
    color: gray;
    text-align: center;
  }