
ion-content{
    // --ion-background-color:"#F6F6F6"
    --background: url('../../../assets/backgroundImage.png') no-repeat center center;
  }
  

  



 

  .font_style{
    background-color: #DFDFDF;
    padding-left: 8px;
    padding-right:8px;
    font-size: 13px;
  }

 .card_align {
    justify-content: space-between;
  }

  .view_outlet{
    display: flex;
    justify-content: end;
    margin-top: 8px;
  }

  .full_view{
    --padding-top: 20px;
  }

.filter{
    background-color: #DFDFDF;
    width: 48px;
    height: 40px;
    margin-top: 6px;
    margin-bottom: 6px;
    margin-left: -10px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-self: center;
}

.flex_col{
    display: flex;
    flex-direction: column;
    ion-text{
        .span_align{
            margin-left: 20px;
            margin-right: 20px;
        }
    }
}

.col_details{
    display: flex;
    justify-content: space-between;
   
}